* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: rgb(150, 224, 246);

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

body {
    font-family: Arial, sans-serif;
    background-color: #4e4949;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.container {
    background-color: white;

    padding: 30px;

    border-radius: 12px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    text-align: center;

    width: 350px;
}

h1 {
    margin-bottom: 20px;
}

.display {
    font-size: 48px;

    font-weight: bold;

    margin-bottom: 25px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px;
   transition: 0.3s;
}
.start-btn {
    background-color: #28a745;
}

.start-btn:hover {
    background-color: #218838;
}

.pause-btn {
    background-color: #ffc107;
    color: black;
}

.pause-btn:hover {
    background-color: #e0a800;
}

.reset-btn {
    background-color: #dc3545;
}

.reset-btn:hover {
    background-color: #c82333;
}

.lap-btn {
    background-color: #007bff;
}

.lap-btn:hover {
    background-color: #0056b3;
}

button:hover {
    background-color: #01254d;
}

#laps {
    list-style: none;

    max-height: 200px;

    overflow-y: auto;

    text-align: left;
}

#laps li {
    padding: 8px;

    border-bottom: 1px solid #ddd;
}